.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.page {
  margin-left: 5%;
  flex-basis: 100%;
  transition: margin-left 1s;
}

.page-with-navbar {
  margin-left: 23%;
}

@media only screen and (max-width: 768px) {
  .page {
    width: 95%;
  }
  .page-with-navbar {
    width: 78%;
  }
}
